<h1>New game</h1>
<%= @letters %>
<form action="/score" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
   <label for="question">Try to find a word.</label>
  <input type="text" name="letters">
  <input type="hidden" name="grid" value="@letters.join(' ')">
  <input type="submit" value="score">
</form>
